/* CSS Document */
body{
	margin-top: 30mm;
	margin-bottom: 5mm;
}
*{
	font-family:font-family: 'Montserrat', sans-serif; line-height:16px; font-size:12px; font-family:font-family: 'Montserrat', sans-serif;";
}
.cabecera{
	position: fixed;
	top:0;
	left:0;
}

.cabecera2{
	position: fixed;
	top:100px;
	left:0;
}

.pie_de_pagina{
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
}

.subfoter{
	position: fixed;
	bottom:250px;
	left: 0;
	width: 100%;	
}

.firmas{
	position: absolute;
	width: 100%;
	font-family:font-family: 'Montserrat', sans-serif; line-height:16px; font-size:12px; font-family:font-family: 'Montserrat', sans-serif;
}
.firmas> .linea{
	margin-right: 60px;
	width: 250px;
}
.divicion{
	width:50%;
}
.ancho{
	width: 100%
	margin:0;
	padding: 0;
}
.textRight{
	text-align: right;
}
.textLeft{
	text-align: left;
}
.recuadro{
	/*background: #F2F2F2;*/
	padding: 15px;
	border-radius: 8px;
}
thead{
   text-align:center; color:white; font-weight:bold;width: 100%;
}
.fondoCell{
	/*background: #FAFAFA;*/
}
.margen_derecha{
	margin-right: 30px;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.table> .w1{
	width: 60%;
}
.table> .w2{
	width: 20%;
}
.par:nth-child(odd) {
background-color:#FAFAFA;
}
.par>td{
	padding:8px;
}
.footer{
	width:100%;
	font-size:10px;
	text-align:center;
	font-family:font-family: 'Montserrat', sans-serif;
}
.footer>table{
	width:100%;
}
.footer>table>tr>td{
	width: 33%;
}
.oscuro{
background-color:#f2f2f2;
}
.claro{
    background-color:#fbfbfb;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}

